*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.main .question-name-box {
  display: none;
  margin-bottom: 70px;
}
.main .question-name-box__options {
  display: none;
  text-align: center;
  margin-top: 10px;
}
.main .question-name-box__h1 {
  text-align: center;
}
.main .progress-bar {
  display: none;
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  text-align: right;
  z-index: 0;
}
.main .progress-bar__questions {
  padding-top: 18px;
  font-size: 1.4rem;
  color: #c4c4c5;
}
.main .progress-bar::before {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  border-top: 4px solid #ebf3f7;
  z-index: 10;
}
.main .progress-bar-done {
  position: relative;
  background-color: #23a0df;
  height: 4px;
  width: 0;
  z-index: 15;
  box-shadow: 0 0 7px 2px #23a0df;
  transition: width 0.3s linear;
}
.main .progress-bar-done--svg {
  position: absolute;
  top: -19px;
  width: 85px;
  transition: left 0.3s linear;
}
.main .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 442px;
  width: 80%;
}
.main .wrapper .questions-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}
.main .wrapper .questions-box .section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main .wrapper .questions-box .section .answer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
  padding: 12px 0;
  max-width: 80%;
  font-size: 2rem;
  border: 2px solid #55585f;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.main .wrapper .questions-box .section .answer-btn i {
  position: relative;
  left: 25px;
  margin-right: auto;
}
.main .wrapper .questions-box .section .answer-btn span {
  margin-left: 8px;
}
.main .wrapper .questions-box .section .hover:hover {
  background-color: #ededed;
}
.main .wrapper .questions-box .section .active-btn {
  background-color: #23a0df;
  color: white;
}
.main .wrapper .questions-box .section-left {
  padding-right: 18px;
  align-items: flex-end;
}
.main .wrapper .questions-box .section-right {
  padding-left: 18px;
  align-items: flex-start;
}
.main .wrapper .questions-box .start-btn {
  padding: 11px 54px;
  margin-top: 70px;
  background-color: #23a0df;
  color: white;
  font-size: 2.2rem;
  border-radius: 100px;
  border: 2px solid #23a0df;
  cursor: pointer;
}
.main .wrapper .questions-box .start-btn:hover {
  background-color: white;
  color: #23a0df;
}
.main .wrapper .questions-box .box {
  opacity: 1;
  z-index: 1000;
  color: black;
}
.main .wrapper .questions-box .text-area {
  width: 90%;
  height: 70%;
  padding-left: 15px;
  padding-top: 15px;
  resize: none;
  border-radius: 5px;
  font-size: 2rem;
}
.main .wrapper .questions-box .text-area::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.main .wrapper .questions-box .text-area::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.main .wrapper .questions-box .contact-form {
  display: none;
}
.main .wrapper .questions-box .contact-form .right-form {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-bottom: 96px;
}
.main .wrapper .questions-box .contact-form .right-form .rules-right {
  display: none;
}
.main .wrapper .questions-box .contact-form .left-form {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
}
.main .wrapper .questions-box .contact-form .left-form .rules-left {
  display: block;
  margin-top: 70px;
}
.main .wrapper .questions-box .contact-form .left-form .rules-active {
  display: block;
}
.main .wrapper .questions-box .contact-form .form-input {
  width: 100%;
  padding-top: 15px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 2.2rem;
}
.main .wrapper .questions-box .contact-form .form-input:focus {
  outline: none;
}
.main .wrapper .questions-box .contact-form .form-input::-moz-placeholder {
  font-size: 2.2rem;
  color: #c4c4c5;
}
.main .wrapper .questions-box .contact-form .form-input::placeholder {
  font-size: 2.2rem;
  color: #c4c4c5;
}
.main .wrapper .questions-box .contact-form-active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
.main .wrapper .questions-box .contact-form-active .form-input:nth-child(2) {
  margin-bottom: 60px;
}
.main .wrapper .questions-box .contact-form-active label {
  text-align: left;
}
.main .wrapper .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 110px;
  width: 100%;
}
.main .wrapper .buttons .state-btn {
  display: none;
  padding: 11px 54px;
  border-radius: 100px;
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
}
.main .wrapper .buttons__next {
  margin-right: 16%;
  border: 2px solid #23a0df;
  background-color: #23a0df;
  color: white;
}
.main .wrapper .buttons__next:hover {
  color: #23a0df;
  background-color: white;
}
.main .wrapper .buttons__next:disabled {
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.main .wrapper .buttons__prev {
  margin-left: 16%;
  background-color: white;
  border: 2px solid #55585f;
  color: #55585f;
}
.main .wrapper .buttons__prev:hover {
  background-color: #ededed;
}
.main .wrapper .buttons__skip {
  margin-right: 16%;
  background-color: white;
  border: 2px solid #55585f;
  color: #55585f;
}
.main .wrapper .buttons__skip:hover {
  background-color: #ededed;
}
.main .wrapper .buttons__send {
  margin-right: 16%;
  border: 2px solid #23a0df;
  background-color: #23a0df;
  color: white;
}
.main .wrapper .buttons__send:hover {
  color: #23a0df;
  background-color: white;
}

.quiz-end {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.quiz-end__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 442px;
  width: 80%;
}
.quiz-end__box-title {
  text-align: center;
}
.quiz-end__box-title--h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.quiz-end__box-title--p {
  font-size: 24px;
}
.quiz-end__box-prize {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 75px;
}
.quiz-end__box-prize .end-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  border: 2px solid #272727;
  border-radius: 9px;
  background: none;
  width: 30%;
}
.quiz-end__box-prize .end-box:hover {
  cursor: pointer;
}
.quiz-end__box-prize-text {
  font-size: 20px;
  margin-bottom: 29px;
}
.quiz-end__box-prize-img--mobile {
  display: none;
}
.quiz-end__box-buttons {
  position: absolute;
  bottom: 110px;
  width: 100%;
}
.quiz-end__box-buttons--back {
  padding: 11px 54px;
  border-radius: 100px;
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 20%;
  background-color: white;
  border: 2px solid #55585f;
  color: #55585f;
  cursor: pointer;
}
.quiz-end__box-buttons--back:hover {
  background-color: #ededed;
}

.fade-out-anim {
  animation: fadeOut 0.3s;
}

.fade-in-anim {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 744px) {
  .main .question-name-box {
    margin-bottom: 20px;
  }
  .main .question-name-box__h1 {
    font-size: 2.4rem;
  }
  .main .wrapper {
    height: 70%;
    width: 85%;
  }
  .main .wrapper .questions-box .section {
    height: auto;
  }
  .main .wrapper .questions-box .section .answer-btn {
    margin-bottom: 20px;
    font-size: 1.4rem;
    max-width: none;
  }
  .main .wrapper .questions-box .section-left {
    padding-right: 0;
    align-items: center;
  }
  .main .wrapper .questions-box .section-right {
    padding-left: 0;
    align-items: center;
  }
  .main .wrapper .questions-box .text-area {
    height: 200px;
  }
  .main .wrapper .questions-box .text-area::-moz-placeholder {
    font-size: 1.4rem;
  }
  .main .wrapper .questions-box .text-area::placeholder {
    font-size: 1.4rem;
  }
  .main .wrapper .questions-box .contact-form label {
    font-weight: 500;
  }
  .main .wrapper .questions-box .contact-form .left-form {
    margin-right: 0;
  }
  .main .wrapper .questions-box .contact-form .left-form .name-label {
    margin-top: 40px;
  }
  .main .wrapper .questions-box .contact-form .left-form .rules-left {
    display: none;
  }
  .main .wrapper .questions-box .contact-form .right-form {
    margin-left: 0;
  }
  .main .wrapper .questions-box .contact-form .right-form .rules-right {
    display: block;
  }
  .main .wrapper .questions-box .contact-form .form-input::-moz-placeholder {
    font-size: 1.4rem;
  }
  .main .wrapper .questions-box .contact-form .form-input::placeholder {
    font-size: 1.4rem;
  }
  .main .wrapper .questions-box .contact-form-active {
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
  }
  .main .wrapper .questions-box .contact-form-active .form-input {
    margin-bottom: 45px;
  }
  .main .wrapper .questions-box .contact-form-active .form-section {
    align-items: flex-start;
  }
  .main .wrapper .buttons {
    bottom: 70px;
  }
  .main .wrapper .buttons .state-btn {
    padding: 7px 25px;
    border-radius: 60px;
    font-size: 1.2rem;
  }
  .main .wrapper .buttons__prev {
    margin-left: 10%;
    border-width: 1px;
  }
  .main .wrapper .buttons__next {
    margin-right: 10%;
    border-width: 1px;
  }
  .main .wrapper .buttons__send {
    margin-right: 10%;
    border-width: 1px;
  }
  .main .wrapper .buttons__skip {
    margin-right: 10%;
    border-width: 1px;
  }
  .main .progress-bar {
    top: 50px;
    width: 70%;
  }
  .main .progress-bar-done--svg {
    top: -13px;
    width: 60px;
  }
  .quiz-end__box-title--h1 {
    font-size: 2.4rem;
  }
  .quiz-end__box-title--p {
    font-size: 1.4rem;
  }
  .quiz-end__box-buttons {
    bottom: 30px;
  }
  .quiz-end__box-buttons--back {
    padding: 7px 25px;
    border-radius: 60px;
    font-size: 1.2rem;
    margin-left: 10%;
  }
  .quiz-end__box-prize {
    flex-direction: column;
    margin-top: 40px;
  }
  .quiz-end__box-prize-img--mobile {
    display: block;
  }
  .quiz-end__box-prize-img--pc {
    display: none;
  }
  .quiz-end__box-prize .end-box {
    width: 100%;
  }
  .quiz-end__box-prize .end-box:nth-child(2) {
    padding: 30px 30px;
  }
  .quiz-end__box-prize-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .quiz-end__box-prize-meet {
    margin-bottom: 20px;
  }
}
@media (min-width: 744px) and (max-width: 1024px) {
  .main .wrapper {
    width: 100%;
  }
  .main .wrapper .questions-box .section .answer-btn {
    max-width: 82%;
  }
  .main .wrapper .buttons__prev {
    margin-left: 10%;
  }
  .main .wrapper .buttons__next {
    margin-right: 10%;
  }
  .main .wrapper .buttons__skip {
    margin-right: 10%;
  }
  .main .wrapper .buttons__send {
    margin-right: 10%;
  }
  .quiz-end__box-prize {
    align-items: stretch;
  }
  .quiz-end__box-prize-img--mobile {
    display: block;
  }
  .quiz-end__box-prize-img--pc {
    display: none;
  }
  .quiz-end__box-prize .end-box {
    width: 50%;
  }
  .quiz-end__box-prize-ar {
    margin-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */